<html>
    <body>
        <div class="container">
            <th:block th:replace="fragment/soriel_Header :: headerFragment"></th:block>

            <div class="wrapper fadeInDown">
                <div id="formContent">

                    <form method="post" action="/user/login" style="padding-top: 20px;">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                        <a style="margin-bottom:15px" class="fadeIn first" href="/oauth2/authorization/kakao"><img th:src="@{/static/images/kakao_login_medium_wide.png}"> </a>
                        <input type="text" id="login" class="fadeIn second" name="username" placeholder="아이디를 입력하세요"/>
                        <input type="password" id="password" class="fadeIn third" name="password" placeholder="비밀번호를 입력하세요"/>
                        <input style="margin-bottom:0px" type="submit" class="fadeIn fourth" value="Log In" />
                    </form>

                    <div id="formFooter">
                        <a class="underlineHover" href="/user/sign_up_page">회원가입 하러가기</a><br>

                    </div>
                </div>
            </div>
        </div>
    </body>
 </html>   